.navbar {
  background-color: red;
  height: 130px;
}

.glasses {
  max-width: 30vw;
  min-width: 30vw;
  max-height: auto;
  min-height: auto;
  margin: 15px;
}

#logo {
  max-width: 7vw;
  min-width: 7vw;
  max-height: auto;
  min-height: auto;
}

.gla {
  display: flex;
  flex-direction: row;
}

#row1,
#row2 {
  flex: 1;
}

.mygif {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 20vw;
  min-width: 20vw;
  max-height: auto;
  min-height: auto;
}